
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html, body {
  .datasci{

  margin: 0; height: 100%; overflow: hidden

  }


}

@font-face {
    font-family: 'Bahnschrift';
    font-style: normal;
    font-weight: 400;
    src:url('../font/BAHNSCHRIFT.TTF') format('truetype') /* Safari, Android, iOS */
  }

.information{
  font-family: 'Bahnschrift';
    position: absolute;
    background-color: none;
    color: white;
    border: solid 1px;
    padding: 2%;
    width: 34%;
    left: 0;
    bottom: 0;
    margin: 2%;
    z-index: 100;
    height: 24%;
    font-size: 1.3em;
}

#legend{
  font-family: 'Bahnschrift';
    position: absolute;
    color: white;
    border: solid 1px; 
    padding: 2%;
    width: 27%;
    left: 0;
    top: 0;
    margin: 2%;
    z-index: 100;
    height: 11%;
    font-size: 1.3em;
}

#intro1{
  position:fixed;
  transition:  1s;

}

.hidden{
  opacity:0

}
button{
  margin-left:2%;
}