
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html,body{
  background-color: black;
  height:100%;
  margin:0;
  overflow: auto;
}
.gallery{

    html,body{

    margin:0;
    .container-fluid{
      div{
        height:100%;

      }
      .row{
        height:70%;
      }
      
    }
  }
}

.col{
  padding-right: 3px;
  padding-left: 3px;
}

@font-face {
  font-family: 'Bahnschrift';
  font-style: normal;
  font-weight: 400;
  src:url('../font/BAHNSCHRIFT.TTF') format('truetype') /* Safari, Android, iOS */
}


body::-webkit-scrollbar {
  display: none;
}

.gallery{
  font-family: 'Bahnschrift';

    background-color: black;
    color: white;
    position: relative;
    width: 80%;
    margin: 6% 10%;
    /* height: inherit; */
    height: 80%;
    border-color:white;
    border-style: solid;

    h1{
      font-size:8vw;
    }
    button{
      margin: 5%;
      position: absolute;
      left: 0;
      border-style: none;
      background-color: white;
      border-color: black;
      bottom: 0;
      font-size:3vw
    }

    .menu{
      position: absolute;
      margin: 0%;
      display: block;
      width: 198%;
    }
    
    .hidden-right{
      position: fixed;
      width: 50%;
      height: 100%;
      top: 0;
      right: -50%;
      background: white;
      transition:  .8s;
    
    }
    
    .hidden-left{
      position: fixed;
      width: 50%;
      height: 100%;
      top: 0;
      left: -50%;
      background: black;
      transition:   .8s;
    
    }


    .blurb{
      position: fixed;
        width: 50%;
        height: 100%;
        top: 0;
        right: 0;
        background: white;
        transition:  .8s;
    }

    .imgenlarge{
      position: fixed;
        width: 50%;
        height: 100%;
        top: 0;
        left: 0;
        background: black;
        transition:  .8s;
        z-index:200;

        h1{
          color:white;
        }
        
        img{
          transition:1s;

        }
    }
    #return{
      position: fixed;
      text-decoration: none;
      color: black;
      padding: 2%;
      /* padding-top: 9%; */
      margin-top: 2%;
      font-size: 1.5vw;
      left: 0;

    }
    
    .description{
      font-size: 1.8vw;
    padding: 2%;
    margin: 3%;
    color: black;
    }

    img{
      object-fit: contain;
      width: 100%;
    }
    
}
@media only screen and (max-width: 460px) {
  
    .gallery{

      .imgenlarge{
          position: fixed;
          width: 100%;
          height: 60%;
          top: 0;
          left: 0;
          background: black;
          transition:  1s;
          z-index:200;

          h1{
            color:white;
          }
          
          img{
            transition:1s;

          }
      }

      .blurb{
        position: fixed;
        width: 100%;
        height: 40%;
        top:100;
        margin-top:100%;
        bottom: 0;
        right: 0;
        background: white;
        transition:  1s;
      }

      .description {
        font-size: 3.8vw;
        padding: 2%;
        margin: 3%;
        color: black;
    }
  }
}


.slot{
    background-color:white;
    color:black;
}


