
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html, body {
  .App{

  margin: 0; height: 100%; overflow: hidden

  }

 

}


.App{
  font-family: 'Bahnschrift';

 
  
  h1{
    font-size:3vw;
    margin: 3% 0%;

  }

  h3{
    font-size:1.3vw;
    margin: 3% 0%;

  }

  p{
    font-size:.9vw;
  }
  a{
    text-decoration: none;
    color:white;
  }
}


.navigation{
    min-height:100%;
  
    ul {
      position:fixed;
      width:100%;
  
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;

    }
    
    li {
      float: left;
      padding: 2%;

    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      text-decoration: none;
    }
    
    /* Change the link color to #111 (black) on hover */
    li a:hover {
    }
  }
  

.label{
  position: fixed;
    color: white;
    font-family: 'Bahnschrift';
    bottom: 0;
    font-size: 1.5vw;
    margin: 12% 47%;
}

container{
  hr{
    color:white;
  }
  transition: margin 1s;
  #tomlarch{
    display:inline;
    padding:1%;
    margin-top:3%;
    margin-left:0;
  }
  #cycle{
    display:inline;
      padding:1%;
      margin-top:3%;
      margin-left:0;

  }
}

.projectappear{
  position: absolute;
  color: white;
  font-family: 'Bahnschrift';
  bottom: 0;
  font-size: 1vw;
  margin: 19% 50%;
  width: 45%;
}
.hidden{
  position: absolute;
  margin: 19% 100%;
  transition: margin 1s;
  width: 45%;
  bottom: 0;
  color: white;
}

#return{
  position: absolute;
    text-decoration: none;
    padding: 2%;
    border: none;
    background-color: transparent;
    color: white;
    /* margin-top: 0; */
    font-size: 1.5vw;
    left: 0;
    outline: none;
    bottom: 0;
}

