
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}



.App{ body {
  overflow: hidden;
  margin: 0; height: 100%; 
  width:100%;

}}


.App{
  font-family: 'Bahnschrift';
  h1{
    font-size:3vw;
    margin: 3% 0%;

  }

  h3{
    font-size:1.3vw;
    margin: 3% 0%;

  }

  p{
    font-size:1vw;
  }
  a{
    text-decoration: none;
    color:white;
  }
}


.navigation{
    min-height:100%;
  
    ul {
      position:fixed;
      width:100%;
      z-index:100;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;

    }
    
    li {
      float: right;
      padding: 2%;
      color: white;

    }
    
    li a {
      display: inline;
      text-align: center;
      text-decoration: none;
    }
    
    /* Change the link color to #111 (black) on hover */
    li a:hover {
    }
  }
  

.label{
  position: fixed;
    color: white;
    font-family: 'Bahnschrift';
    bottom: 0;
    font-size: 1.5vw;
    margin: 12% 47%;
}

container{
  hr{
    color:white;
  }
  transition: margin .8s;
  #tomlarch{
    display: inline;
    padding: 1%;
    margin-top: 3%;
    margin-left: 0;
    margin-right: 3%;
  }
  #cycle{
    display:inline;
      padding:1%;
      margin-top:3%;
      margin-left:0;

  }
}

.projectappear{
  position: absolute;
    color: white;
    font-family: 'Bahnschrift';
    bottom: 0;
    font-size: 1vw;
    margin: 18% 58%;
    width: 32%;
}

.aboutappear{
  /* position: absolute;
  color: white;
  font-family: 'Bahnschrift';
  bottom: 0;
  font-size: 1vw;
  margin: 10% 10%;
  width: 32%; */

  position: absolute;
  color: white;
  font-family: 'Bahnschrift';
  bottom: 0;
  font-size: 1vw;
  height: 80%;
  margin: 7% 6%;
  width: 37%;
  justify-content: flex-end;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.hidden_right{
  position: absolute;
  margin: 15% 100%;
  transition: margin .8s;
  width: 32%;
  bottom: 0;
  color: white;
}

.hidden_left{
  position: absolute;
  margin: 6% -38%;
  transition: margin .8s;
  width: 37%;
  bottom: 0;
  height: 80%;
  justify-content: flex-end;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  color: white;
}

#return{
  position: absolute;
    text-decoration: none;
    padding: 2%;
    border: none;
    background-color: transparent;
    color: white;
    /* margin-top: 0; */
    font-size: 2vw;
    left: 0;
    outline: none;
    transition: bottom .6s;
}

.return_appear{
  bottom: 0;

}

.return_hidden{
  bottom: -10%;

}

button{
  border-style: none;
}

.mypic{
    margin:3% 0%;
    width:36%;
  
}


#curriculum{
  height: 65%;
}

#site_description{
  height: 70%;
}