
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.App{
  min-height: 100vh;
  background-color:#D1D3C4;

  width: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

.content{
  min-height: 100vh;
  background-color: #D1D3C4;


  .picture{
      position:fixed;
      height:100vh;
      left:0;
      width: 50%;

    img{
      width: 53%;
      display: block;
      padding: 15% 0;
      margin: auto;
    }
    }
  
  .description::-webkit-scrollbar {
    display: none;
  }

  .description{
    position:fixed;
    right:0;
    overflow:scroll;
    height:100vh;
    width: 50%;
    padding: 2% 4%;
    background-color:whitesmoke;

    li{
      margin:6% 0;
    }
  }


}

.navigation{
  min-height:100%;
  background-color:#D1D3C4;

  ul {
    position:fixed;
    width:100%;

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
}
